node_modules
.terraform
playlist-youtube-ecs-fargate-node/infra/terraform.tfstate
playlist-youtube-ecs-fargate-node/infra/terraform.tfstate.backup
playlist-youtube-ecs-fargate-node/infra/.terraform.lock.hcl
